PORT=8080
DB_HOST=localhost
DB_PORT=3306
DB_NAME=banking
JWT_SECRET=your_super_secret_key_here

# cái này là tính username với password trong workbench, sửa theo từng local

DB_USER=root
DB_PASS=123456

# Cái này để Test tính năng least-privileges
DB_CUSTOMER_USER=app_customer
DB_CUSTOMER_PASS=cust_pass123

DB_AUDITOR_USER=app_auditor
DB_AUDITOR_PASS=audit_pass123

DB_ADMIN_USER=app_admin
DB_ADMIN_PASS=admin_pass123

# Vulnerable demo
DB_VULN_USER=app_vulnerable
DB_VULN_PASS=vuln_pass123
